.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
.home {
  color:white;
  -webkit-animation: kenburns-top-left 5s ease-out both;
	        animation: kenburns-top-left 5s ease-out both;
  background-image:url('BeloHorizonte/BH6.jpg');
  background-repeat: no-repeat, repeat;
  padding: 15px;
  background-size:100% 600%;
}

@-webkit-keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
            transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
            transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}
@keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
            transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
            transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}


.intro{
color:white;
font-family: 'Open Sans', sans-serif;
/* font-family: 'Gloria Hallelujah', cursive; */
/* font-family: 'Permanent Marker', cursive;
font-family: 'Kaushan Script', cursive; */

}

.sightSeeing{
  color:white;
  background-image: url(mirante/pords.jpg);
  background-repeat: no-repeat, repeat;
  padding: 15px;
  background-size:100% 100%;
}

.atractions {
  font-family: 'Open Sans', sans-serif;
}
/* .grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
} */

.xop-section {
	max-width: 960px;
	margin: 0 auto;
	padding: 6% 2%;
}

.xop-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.xop-grid:after {
	clear: both;
}

.xop-grid:after, .xop-box:before {
	content: '';
	display: table;
}

.xop-grid li {
	width: 328px;
	height: 328px;
	display: inline-block;
	margin: 20px;
}
.xop-grid li {
	width: 328px;
	height: 328px;
	display: inline-block;
	margin: 20px;
}

.xop-box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.xop-box:hover {
	transform: scale(1.05); 
}
.xop-img-1 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
	url("BeloHorizonte/praca-da-liberdade.jpg");
}

.xop-img-2 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
	url("BeloHorizonte/lagoa-da-pampulha.jpg");
}

.xop-img-3 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), 
	url('parquemunicipal/park.jpg');
}

.xop-img-4 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), 
	url("mercado/Mercado-Central-em-Belo-Horizonte-preÌdio-e1535717425392.jpg");
}

.xop-info {
	position: absolute;
	width: inherit;
	height: inherit;
}

.xop-info h3 {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	color: #fff;
	font-size: 42px;
	margin: 0 30px;
	padding: 100px 0 0 0;
	line-height: 1.5;
}

.xop-info p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	padding: 4px 5px;
	margin: 0 30px;
	font-size: 14px;
	line-height: 2;
}
.txt{
  text-align: left;
  text-indent: 50px;
  font-family: 'Lobster', cursive;
  color:white;
}

.history{
  background-image : url('old BH/oldpapper.jpg');
  background-repeat: repeat;
  padding: 15px;
  background-size:100% 100%;
}
.container{
  color:white;
}
 /* .txthistory:hover{
  transform: scale(1.1); 
 } */
.txthistory{
  text-align: justify;
  text-indent: 50px;
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-size:100%;
  column-count: 2;
  column-rule-color: black;
  
}
.historybh{
  font-family: 'Open Sans', sans-serif;
}
.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}
 .pracatxt {
   text-align: justify;
  text-indent: 50px;
  /* font-family: 'Permanent+Marker', cursive; */
  color:white;
  font-size:100%;
  column-count: 2;
  column-rule-color:black;
 font-family: 'Open Sans', sans-serif;
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Fira Sans', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Libre Baskerville', serif; */
 }
 .liberdade{
   background-image : url("pordosol/pordosol.jpg");
   background-repeat: no-repeat, repeat;
  padding: 15px;
  background-size:100% 100%;
  color:white;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
 }
 .lagoatxt{
   text-align: justify;
  text-indent: 50px;
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-size:100%;
  column-count: 2;
  column-rule-color: black;
 }
 .lagoaintro{
font-family: 'Open Sans', sans-serif;
color:white;
}
.lagoa {
  background-image : url("pordosol/pordosol.jpg");
  background-repeat: no-repeat, repeat;
  padding: 15px;
  background-size:100% 100%;
}
.calculator{
  width: 200px;
  border: 5px solid green;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  color: black;
  background-color : lightgreen;
  background-image : url('money2.jpeg');
 }
 
 .temperature{
  width: 250px;
  border: 5px solid blue;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  color: black;
  background-color : lightblue;
  
 }
 .food {
  background-image : url("pordosol/pordosol.jpg");
  background-repeat: no-repeat, repeat;
  padding: 15px;
  background-size:100% 100%;
  color:white;
  text-align: justify;
  
}
.currency{
  background-image : url("dinheiro.jpg");
  background-repeat: no-repeat, repeat;
  padding: 15px;
  background-size:100% 200%;
  color:white;
  text-align: justify;
}
.txthcities{
  text-align: justify;
  text-indent: 50px;
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-size:100%;
}
.nightlife{
  background-image : url("BHnoite.jpg");
  background-repeat: no-repeat, repeat;
  padding: 15px;
  background-size:100% 100%;
  color:white;
  text-align: justify;
}